html
    head
        title DIS_MISURA
        meta(name="viewport" content="width=device-width, initial-scale=1 shrink-to-fit=no")
        meta(name="theme-color" content="#000")
        link(rel="stylesheet" href="/style.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js", type="text/javascript")
    body

        #random-container

        #banner

        #main-container

        script(src="/app.js", type="text/javascript")