@font-face {
    font-family: jack;
    src: url(jack.otf);
}
@font-face{
    font-family: berthold;
    src: url(berthold.otf);
}

:root{
    --main-spacing: 12px;
}

body{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: berthold;
    overflow: hidden;
}

body > div{
    padding: calc(var(--main-spacing) * 3);
    font-size: 1.5em;
}


/* ===== RANDOM CONTAINER ===== */

#random-container{
    font-family: jack;
    overflow-y: auto;
    max-height: 80vh;
}

#random-container > div{
    margin: var(--main-spacing) 0;
    display: none !important; 
}

/* ===== BANNER ===== */
#banner-container{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
}

#banner{
    display: flex;
    justify-content: space-between;
    background-color: white;    
}
#banner > img{
    max-height: 32px;
    align-self: center;
}
#banner > span{
    font-size: x-large;
    align-self: center;
}

/* ===== MAIN CONTAINER ===== */
#main-container{
    display: none;
    max-width: 60%;
    margin: 0 auto;
    margin-top: calc(var(--main-spacing) * 4);
    line-height: 1.2em;
}

/* ===== SCROLL ICON ===== */
#scroll-icon{
    text-align: center;
    padding: calc(var(--main-spacing) * 3);
}
#scroll-icon > img{
    max-width: 48px;
    cursor: pointer;
}

/* ===== RESPONSIVE HANDLERS ===== */
@media(max-width: 768px){
    #random-container{
        font-size: 2vh;
    }
    #banner{
        flex-direction: column;
    }
    #banner > *:first-child{
        margin-bottom: var(--main-spacing);
    }
    #banner > span{
        font-size: 4vw;
    }
}
