@font-face {
    font-family: jack;
    src: url(jack.otf);
}
@font-face{
    font-family: berthold;
    src: url(berthold.otf);
}

:root{
    --main-spacing: 12px;
}

body{
    max-width: 80%;
    margin: var(--main-spacing) auto;
    font-family: berthold;
}

/* ===== RANDOM CONTAINER ===== */

#random-container{
    font-family: jack;
}

/* ===== BANNER ===== */
#banner{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: var(--main-spacing) 0px;
}
#banner > img{
    grid-column: 1/2;
    max-height: 32px;
    width: min-content;
}
#banner > span{
    grid-column: 2/3;
    text-align: right;
    align-self: center;
    font-size: large;
}

/* ===== MAIN CONTAINER ===== */

#main-container{
    max-width: 75%;
    margin: 0 auto;
    margin-top: calc(var(--main-spacing) * 4);
}

/* ===== RESPONSIVE HANDLERS ===== */
@media(max-width: 768px){
    body{
        max-width: 90%;
    }
}
