@font-face {
    font-family: jack;
    src: url(jack.otf);
}
@font-face{
    font-family: berthold;
    src: url(berthold.otf);
}

:root{
    --main-spacing: 12px;
}

body{
    display: grid;
    grid-template-rows: 1fr auto;
    width: 100vw;
    height: 100vh;
    margin: 0px;
    font-family: berthold;
}

#container{
    grid-row: 1/2;
    margin: calc(var(--main-spacing) * 3);
}
#container > div{
    font-size: 1.5em;
}


/* ===== RANDOM CONTAINER ===== */

#random-container{
    font-family: jack;
}

/* ===== BANNER ===== */
#banner{
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    margin: calc(var(--main-spacing) * 3);
}
#banner > img{
    max-height: 32px;
    align-self: center;
}
#banner > span{
    font-size: x-large;
    align-self: center;
}

/* ===== MAIN CONTAINER ===== */
#main-container{
    max-width: 60%;
    margin: 0 auto;
    margin-top: calc(var(--main-spacing) * 4);
}

/* ===== RESPONSIVE HANDLERS ===== */
@media(max-width: 768px){
    #banner{
        flex-direction: column;
    }
    #banner > *:first-child{
        margin-bottom: var(--main-spacing);
    }
}
